<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congratulations, <%= @trader.name %></h1>
    <p>
      Your account in Stock app has been approved. You can now start trading.
    </p>
  </body>
</html> 