<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Stock App, <%= @trader.name %></h1>
    <p>
      Congratulations!
      You have successfully registered to stock app. Please wait for the confirmation of your account.
    </p>
  </body>
</html> 